* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100%; /* ???? */
}

main {
    display: flex;
    background-color: black;
    height: 100%;
    width: 100%;
}

main .container {
    border: 2px solid white;
    background-color: burlywood;
    border-radius: 40px;
    /* align-items: center; */
    /* justify-content: center; */
    height: 70%;
    width: 90%;
    margin: 10% auto 0 auto;
    display: flex;
}

.container .profile {
    position: relative;
    top: -13%;
    left: 4%;
    height: 110%;
    width:150%;
    background-color:brown;
}

.profile .name {
    background-color: deeppink;
    position: relative;
    top: 3%;
    margin: auto;
    color: blanchedalmond;
    width: 70%;
    height: 8%;
    text-align: center;
    padding: 2%;
    font-size: 24px;
    font-family: 'Cascadia Code';
    z-index: 100;
}

.container .info div {
    display: flex;
    background-color: gray;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande';
    font-size: 18px;
    width: 85%;
    margin: 20px 0 0 100px;
}

.info {
    display: flex;
    flex-direction: column;
}

.container .info div:nth-child(2) , div:nth-child(1) {
    padding: 1%;
    height: 75%;
}

.info div:nth-child(2) {
    height: 30%;
}

main .container div.characteristics {
    display: flex;
    flex-direction: row;
    background-color: burlywood;
    justify-content: space-around;
}

.container .characteristics div {
    width: 22%;
    height: 75%;
    margin: 1% 0;
    padding: 8px 15px !important;
    justify-content: center !important;
    font-weight: 600;
    box-shadow: 1px 1px 8px black;
}

img {
    display: flex;
    position: absolute;
    width: 9%;
    height: auto;
    margin: 26px 0 0 0;
}

.food img {
    width: 9.5%;
}

.size img {
    margin: 1.2% 0 0 0;
    width: 9.5%;
}

.colors::after {
    position: absolute;
    content: '';
    background-color: rgb(188, 158, 37);
    width: 8%;
    height: 3.5%;
    margin: 2% 0 0 0;
    left: 82.7%;
}

.colors::before {
    position: absolute;
    content: '';
    background-color: rgb(0, 0, 0);
    width: 8%;
    height: 3.5%;
    margin: 3.8% 0 0 0;
    left: 82.7%;
    box-shadow: 0px 25px 0px 0px white;
}

.hoverimg1 , .hoverimg2 , .hoverimg3 {
    display: none;
    transition: 2s;
}

.morph:hover .hoverimg1 {
    display: flex;
    position: absolute;
    top: 25%;
    left: 10%;
    /* height: 610px; */
    width: 35%;
    transition: aparicion 1s ease-in-out;
}

@keyframes aparicion {
    0% {
            opacity: 1%;
    }
    50% {
            opacity: 20%;
    }
    100% {
            opaciity: 100%;
    }
}

/* ??????? */